body{
  font-size: .16rem;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

html, body, div{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

html, body, div, p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
